$max-width: 1400px !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  17: $spacer * 4.25,
  18: $spacer * 4.5,
  19: $spacer * 4.75,
  20: $spacer * 5,
  'auto': auto,
) !default;

$grid-breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1400px,
) !default;

$widths: (
  'auto': auto,
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%,
  'screen': 100vw,
) !default;

$heigts: (
  'auto': auto,
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%,
  'screen': 100vh,
) !default;

$displays: (
  'inline': inline,
	'block': block,
	'contents': contents,
	'flex': flex,
	'grid': grid,
	'inline-block': inline-block,
	'inline-flex': inline-flex,
	'inline-grid': inline-grid,
	'inline-table': inline-table,
	'list-item': list-item,
	'run-in': run-in,
	'table': table,
	'table-caption': table-caption,
	'table-column-group': table-column-group,
	'table-header-group': table-header-group,
	'table-footer-group': table-footer-group,
	'table-row-group': table-row-group,
	'table-cell': table-cell,
	'table-column': table-column,
	'table-row': table-row,
	'initial': initial,
	'inherit': inherit,
);
