.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-grow {
	flex-grow: 1;
	
	&-0 {
		flex-grow: 0;
	}
}

.flex-shrink {
	flex-grow: 1;
	
	&-0 {
		flex-grow: 0;
	}
}

@each $point, $point_size in $grid-breakpoints {
	@include breakpoint-up($point) {
		.#{$point}\: {
			&flex {
				display: flex;
			}
			
			&flex-row {
				flex-direction: row;
			}
			
			&flex-row-reverse {
				flex-direction: row-reverse;
			}
			
			&flex-column {
				flex-direction: column;
			}
			
			&flex-column-reverse {
				flex-direction: column-reverse;
			}
	
			&flex-grow {
				flex-grow: 1;
				
				&-0 {
					flex-grow: 0;
				}
			}
			
			&flex-shrink {
				flex-grow: 1;
				
				&-0 {
					flex-grow: 0;
				}
			}
		}
	}
}
