@each $size, $length in $spacers {
	.mt-#{$size},
	.my-#{$size} {
		margin-top: $length;
	}
	
	.mb-#{$size},
	.my-#{$size} {
		margin-bottom: $length;
	}
	
	.ms-#{$size},
	.mx-#{$size} {
		margin-left: $length;
	}
	
	.me-#{$size},
	.mx-#{$size} {
		margin-right: $length;
	}
	
	.m-#{$size} {
		margin: $length;
	}
}

@each $point, $point_size in $grid-breakpoints {
	@include breakpoint-up($point) {
		.#{$point}\: {
			@each $size, $length in $spacers {
				.mt-#{$size},
				.my-#{$size} {
					margin-top: $length;
				}
				
				.mb-#{$size},
				.my-#{$size} {
					margin-bottom: $length;
				}
				
				.ms-#{$size},
				.mx-#{$size} {
					margin-left: $length;
				}
				
				.me-#{$size},
				.mx-#{$size} {
					margin-right: $length;
				}
				
				.m-#{$size} {
					margin: $length;
				}
			}
		}
	}
}