@each $size, $length in $spacers {
	.pt-#{$size},
	.py-#{$size} {
		padding-top: $length !important;
	}
	
	.pb-#{$size},
	.py-#{$size} {
		padding-bottom: $length !important;
	}
	
	.ps-#{$size},
	.px-#{$size} {
		padding-left: $length !important;
	}
	
	.pe-#{$size},
	.px-#{$size} {
		padding-right: $length !important;
	}
	
	.p-#{$size} {
		padding: $length !important;
	}
}

@each $point, $point_size in $grid-breakpoints {
	@include breakpoint-up($point) {
		.#{$point}\: {
			@each $size, $length in $spacers {
				&pt-#{$size},
				&py-#{$size} {
					padding-top: $length !important;
				}
				
				&pb-#{$size},
				&py-#{$size} {
					padding-bottom: $length !important;
				}
				
				&ps-#{$size},
				&px-#{$size} {
					padding-left: $length !important;
				}
				
				&pe-#{$size},
				&px-#{$size} {
					padding-right: $length !important;
				}
				
				&p-#{$size} {
					padding: $length !important;
				}
			}
		}
	}
}