/**
 * Grid
 */

%row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.row,
.row__full {
	@extend %row;
}

.row {
	max-width: 1400px;
}

@mixin gridstrap-col() {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;

	@for $i from 1 through 100 {
		&-#{$i} {
			max-width: $i * 1%;
			flex-basis: $i * 1%;
			flex: 0 0 $i * 1%;
		}
	}
}

.col {
	@include gridstrap-col();
}


.xs\: {
	&col {
		@include gridstrap-col();
	}
}

@media(min-width: 768px) {
	.sm\: {
		&col {
			@include gridstrap-col();
		}
	}
}

@media(min-width: 1024px) {
	.md\: {
		&col {
			@include gridstrap-col();
		}
	}
}

@media(min-width: 1400px) {
	.lg\: {
		&col {
			@include gridstrap-col();
		}
	}
}