/**
 * Hiding options
 */
@mixin gridstrap-hide() {
    display: none !important;
}

@mixin gridstrap-stealth() {
    opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.xs\:hide,
.hide {
	@include gridstrap-hide();
}

@media(min-width: 768px) {
	.sm\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

@media(min-width: 1024px) {
	.md\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

@media(min-width: 1400px) {
	.lg\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

.xs\:stealth,
.stealth {
	@include gridstrap-stealth();
}

@media(min-width: 768px) {
	.sm\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}

@media(min-width: 1024px) {
	.md\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}

@media(min-width: 1400px) {
	.lg\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}