/**
 * Hiding options
 */
@mixin gridstrap-hide() {
    display: none !important;
}

@mixin gridstrap-stealth() {
    opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.hide,
.xs\:hide {
	@include gridstrap-hide();
}

@media(min-width: $sm) {
	.sm\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

@media(min-width: $md) {
	.md\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

@media(min-width: $lg) {
	.lg\: {
		&hide {
			@include gridstrap-hide();
		}
	}
}

.stealth,
.xs\:stealth {
	@include gridstrap-stealth();
}

@media(min-width: $sm) {
	.sm\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}

@media(min-width: $md) {
	.md\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}

@media(min-width: $lg) {
	.lg\: {
		&stealth {
			@include gridstrap-stealth();
		}
	}
}