/**
 * Hiding options
 */
.hide {
	display: none !important;
}

.show {
	display: block !important;

	@each $name, $display in $displays {
		&--#{$name} {
			display: $display !important;
		}
	}
}

@each $point, $point_size in $grid-breakpoints {
	@include breakpoint-up($point) {
		.#{$point}\: {
			&hide {
				display: none !important;
			}

			&show {
				@each $name, $display in $displays {
					&--#{$name} {
						display: $display !important;
					}
				}
			}
		}
	}
}

.stealth {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.unstealth {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

@each $point, $point_size in $grid-breakpoints {
	@include breakpoint-up($point) {
		.#{$point}\: {
			&stealth {
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
			}
	
			&unstealth {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
}